apispec==1.3.3
asn1crypto==0.24.0
attrs==19.1.0
Babel==2.7.0
beautifulsoup4==4.8.0
cffi==1.12.3
Click==7.0
colorama==0.4.1
cryptography==2.7
defusedxml==0.6.0
Flask==1.1.1
Flask-AppBuilder==2.1.11
Flask-Babel==0.12.2
Flask-JWT-Extended==3.22.0
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.2
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
marshmallow==2.19.5
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.17.0
prison==0.1.2
pycparser==2.19
pycrypto==2.6.1
pygobject==3.26.1
PyJWT==1.7.1
pyrsistent==0.15.4
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.2
pyxdg==0.25
PyYAML==5.1.2
SecretStorage==2.3.1
selenium==3.141.0
six==1.12.0
soupsieve==1.9.3
SQLAlchemy==1.3.8
SQLAlchemy-Utils==0.34.2
urllib3==1.25.3
Werkzeug==0.15.5
WTForms==2.2.1
