<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Streaming Platform</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content="748322532273-uk89t0u7nj1rckjlk0e8ld23un48acas.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script>
        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        }
    </script>

</head>
<body style="background-color: #141415">
<nav class="navbar" style="background-color: #1A1A1B">
    <div class="col-fluid" style="margin-left: 7%;margin-right: 10%;margin-bottom: 0.5%">
        <a href="/">
            <img src="/static/asset/TSD.png" width="60px" style="overflow: hidden; transform: scale(2)">
        </a>
    </div>
    <div class="col-md" style="margin-left: -2%;margin-right: 8%;margin-bottom: 0.5%">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" width="50%"
               style="background-color: #141415; color: white">
    </div>
    <div class="col-sm-right" style="margin-left: 1%">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    </div>
</nav>
<div class="row" style="margin-top: 2%;">
    <div class="col-fluid-sm-left">
        <div class="card mx-5 my-3" style="width: 20rem;">
            <img class="card-img-top" src="{{ photo }}"
                 alt="profile-picture">
            <div class="card-body">
                <h5 class="card-title">{{ full_name }}</h5>
                <p class="card-text">{{ about }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <div class="card-body">
                    {% if mail %}
                        <a href="mailto:{{ mail }}" class="card-link">
                            <img src="/static/asset/gmail.png" width="32px">
                        </a>
                    {% endif %}

                    {% if site %}
                        <a href="{{ site }}" class="card-link" target="_blank">
                            <img src="/static/asset/www.png" width="32px">
                        </a>
                    {% endif %}

                    {% if linkedin %}
                        <a href="{{ linkedin }}" class="card-link" target="_blank">
                            <img src="/static/asset/LI-In-Bug.png" width="32px">
                        </a>
                    {% endif %}

                    {% if git %}
                        <a href="{{ git }}" class="card-link" target="_blank">
                            <img src="/static/asset/GitHub-Mark-32px.png" width="32px">
                        </a>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
    <div class="col-md">
        <div id="loadProjectsSpinner"></div>
        <div class="row my-2 mx-4" id="loadProjects">
        </div>
    </div>
</div>
<script type="text/javascript">
        $('#loadProjectsSpinner').html('<div class="spinner-border text-light" role="status">\n' +
            '                    <span class="sr-only">Loading...</span>\n' +
            '                </div>');
        $.ajax({
            type: 'GET',
            url: "/api/projects/{{ user_id }}/",
            data: {},
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {
                    $.each(data, function (key, val) {
                        $('#loadProjects').append('<div class="card mx-1 my-1" style="width: 15rem;">\n' +
                            '                    <img class="card-img-top" src="'+val[1]['image']+'">\n'+
        '                    <div class="card-body">\n'+
        '                        <h5 class="card-title">'+val[1]['name']+'</h5>\n'+
        '                        <p class="card-text">'+val[1]['info_short']+'</p>\n'+
        '                        <a href="about:blank" class="btn btn-primary" data-toggle="modal"\n'+
        '                           data-target="#'+val[1]['name']+'Modal">Launch</a>\n'+
        '                        <a href="'+val[1]['repo']+'" target="_blank">\n'+
        '                            <span class="badge badge-dark">Git Repo</span>\n'+
        '                        </a>\n'+
        '                    </div>\n'+
        '                </div>\n'+
        '\n'+
        '                <div class="modal fade" id="'+val[1]['name']+'Modal" tabindex="-1" role="dialog"\n'+
        '                     aria-labelledby="'+val[1]['name']+'ModalTitle" aria-hidden="true">\n'+
        '                    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 95%; height: 95%">\n'+
        '                        <div class="modal-content" style="max-width: 100%; height: 100%">\n'+
        '                            <div class="modal-header">\n'+
        '                                <h5 class="modal-title" id="'+val[1]['name']+'ModalTitle">'+val[1]['name']+'</h5>\n'+
        '                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n'+
        '                                    <span aria-hidden="true">&times;</span>\n'+
        '                                </button>\n'+
        '                            </div>\n'+
        '                            <div class="modal-body" style="height: 100%">\n'+
        '                                <div>\n'+
        '                                    <button type="button" class="btn btn-outline-primary">Back</button>\n'+
        '                                    <button type="button" class="btn btn-outline-primary">Forward</button>\n'+
        '                                    <button type="button" class="btn btn-outline-primary">Reset</button>\n'+
        '                                </div>\n'+
        '                                <hr>\n'+
        '                                <iframe name="'+val[1]['name']+'Frame" src="'+val[1]['url']+'"\n'+
        '                                        width="100%" height="100%" style="max-height: 80%">\n'+
        '                                </iframe>\n'+
        '                                <div>\n'+
        '                                    '+val[1]['info_long']+'\n'+
        '                                </div>\n'+
        '                            </div>\n'+
        '                        </div>\n'+
        '                    </div>\n'+
        '                </div>');
                    });
                } else {
                    console.log('No Projects !');
                }
            },
            error: function () {
                console.log('Error');
            },
            complete: function () {
                $('#loadProjectsSpinner').html('');
            }
        });

    </script>
</body>
</html>